<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">   
<head>
    <title>blog.zenika.com/index.php?post/2013/01/21/using-thymeleaf-with-spring-mvc</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="#{instructions.read}">Instructions</p>
    <span th:text="#{instructions.or}">Or</span><a href="contacts"><span th:text="#{instructions.here}">here</span></a>
</body>
</html>